{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form class="form-signup" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

{% if error_message %}
    <p>{{error_message}}</p>
{% endif %}
{% endblock %}