<!-- update user password modal -->
<script>
	$(document).ready(function () {
		$('.open-modal').click(function () {
			$('#updatePassword').modal({
				backdrop: 'static'
			});
		});
	});
</script>
<div id="updatePassword" class="modal fade" tabindex="-1" aria-labelledby="updatePasswordLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="updatePasswordLabel">Change password</h5>
				<button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="inputPassword" class="col-form-label">New password</label>
						<input name="inputPassword" type="password" id="inputPassword" class="form-control"
							placeholder="password">
					</div>
					<p class="text-warning"><small>You will be asked to log in with your new password after you changed
							your
							password</small></p>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
						<button type="submit" class="btn btn-primary">SAVE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>