{% extends "base.html" %}
{% block title %}Contacts{% endblock %}

{% block content %}

<!-- Alert -->
{% include 'alert.html' %}

<!-- Contacts Table -->
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <h2><b>Contacts</b></h2>
            </div>
            <div class="col-sm-4 table-header">
                <span class="total-count">
                    Total: {{contacts | length}} contacts
                </span>
                {% include "contacts/contacts_modal.html" %}
            </div>
        </div>
    </div>

    <!-- handle no contacts -->
    {% if contacts|length == 0 %}
    <div class="no-items">
        <p>No Contacts Yet...</p>
        {% include "contacts/contacts_modal.html" %}
    </div>
    {% else %}
        {% include "contacts/contacts_table.html" %}
    {% endif %}

</div>

{% endblock %}