{% extends "base.html" %}
{% block title %}Analytics{% endblock %}
{% block content %}
<h1>Analytics</h1>
<div style="display:flex;">
    <div id="key-skills"  style="backgroundColor:red;">
        <img src="" id="chart1">
    </div>

    <div id="popular-skills" style="backgroundColor:blue;">
        <img src="" id="chart2">
    </div>
</div>
<button id="refreshData">
    Refresh
</button>
<!-- Add in a search engine? -->
<div>

</div>

<!-- Need to add in a script block to template -->
<script>
function getCharts() {
    let generateChart = "chart-gen";
    let webAppURL = window.location.href;
    fetch(webAppURL + "/" + generateChart)
    .then( (c) => {
        document.getElementById("chart1").src = "static/images/chart1.png";
        document.getElementById("chart2").src = "static/images/chart2.png";
    })
}

document.getElementById("refreshData").addEventListener("click", () => {
    getCharts;
    window.location.reload();
})

getCharts()
</script>

{% endblock %}