<!--
Gif loading image
source: https://icons8.com/preloaders/
-->
{% extends "base.html" %}
{% block title %}Analytics{% endblock %}
{% block content %}
<div class="container">
    <h1>Analytics</h1>
    {% for i in range(data.charts | length) %}
        {% if i == 2 %}
            <h2>Positions</h2>
        {% elif i == 6 %}
            <h2>Skills</h2>
        {% elif i == 7 %}
            <h2>Other Users</h2>
        {% endif %}
        {% if i in [0, 2, 6, 7] %}
            <div class="row">
        {% endif %}
        {% if i == 6 %}
            <div class="text-center">
        {% else %}
            <div class="col-md-6">
        {% endif %}
            <img class="analytics-chart img-fluid" src="static/images/analytics/loading/inf-load-free.gif" id="chart{{data.charts[i]}}">
            </div>
        {% if i in [1, 6, (data.charts | length) - 1] %}
            </div>
        {% endif %}
    {% endfor %}
    <button id="refreshData" type="button" class="btn btn-primary">
        Refresh
    </button>
</div>
{% endblock %}

{% block script %}
document.getElementById("refreshData").addEventListener("click", () => {
    window.location.reload();
})
getCharts({{data.charts | tojson }}, "{{g.user['users'][0]['localId']}}")

{% endblock %}