<table class="table table-bordered">
    <thead>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Type</th>
            <th>Date</th>
            <th>Status</th>
            <th>Update/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for n in range(jobs|length) %}
        <tr>
            <td>{{jobs[n].company}}</td>
            <td>{{jobs[n].position}}</td>
            <td>{{jobs[n].type}}</td>
            <td>{{jobs[n].date}}</td>
            <td>{{jobs[n].status}}</td>
            <td>
                <a class="edit" title="Edit" data-toggle="tooltip">Edit</a>
                {% with val='jobs/'+ jobs[n].id + '/delete', entry='' + jobs[n].position + ' - ' + jobs[n].company %}
                    {% include 'delete_modal.html'%}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>